<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <link rel="stylesheet" href="/style.css">
</head>
<body>
    

    <h1>Contact Us</h1>
    <form action="/get-from-data" method="post">

        <input type="text" placeholder="Enter Your Name: " name="username">
        <input type="email" placeholder="Enter Your Email: " name="email">
        <input type="password" placeholder="Enter Your password: " name="password">

        <button>Submit</button>

    </form>

    <script src="/app.js"></script>
</body>
</html>